.abstract-bg {
    background-image: url(./abstract-bg.jpg);
    background-size:100%;
    color: white;
}

.card {
    height: 319px;
}

.card-img {
    /* height: 215px; */
    border-bottom: 2px grey;
}

.card-font {
    color: black;
}